{% extends 'base.html' %}

{% block title %} Log in{% endblock title %}

{% block content %}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="">Account</a></li>
            <li class="breadcrumb-item active" aria-current="page">Log In</li>
        </ol>
    </nav>



    <div class="h-100 w-100 d-flex align-items-center justify-content-center login">
        <p>Welcome!</p>
        <form method="POST" class="login-fields">
            {% csrf_token %}
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping"><i class="fa-regular fa-envelope"></i></span>
                <input name="username" type="text" class="form-control" placeholder="Email" aria-label="Username"
                    aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-key"></i></span>
                <input name="password" type="password" class="form-control" placeholder="Password" aria-label="Username"
                    aria-describedby="addon-wrapping">
            </div>
            <input type="submit" value="Log In" class="btn btn-primary login-button">
        </form>
    </div>
</div>


{% endblock content %}