{% extends 'base.html' %}

{% block title %} Password reset notification sent{% endblock title %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="">Account</a></li>
            <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
        </ol>
    </nav>
    <div class="h-100 w-100 d-flex align-items-center justify-content-center login">
        <p>Email Sent!</p>
        <h3>An Email notification has been sent to your Email address. Please check your mail for further instructions.
        </h3>
    </div>
</div>
{% endblock content %}