{% extends 'base.html' %}

{% block title %} Password reset form{% endblock title %}

{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Reset password</li>
</ol>

    <div class="h-100 w-100 d-flex align-items-center justify-content-center container signup">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Random-house2.jpg/245px-Random-house2.jpg"
            alt="">
        <div class="signup-form">
            <p style="color:var(--blue)">Enter your new password twice in the following:</p>
            <form method="POST" class="signup-fields">
                {% csrf_token %}
                {{form.as_p}}
                <input type="Submit" value="Reset" name="Update Password" class="btn btn-primary signup-form-button">
            </form>
        </div>
    </div>

{% endblock content %}