{% extends 'base.html' %}

{% block title %} Password reset notification sent{% endblock title %}

{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Change Password</li>
</ol>

<div class="h-100 w-100 d-flex align-items-center justify-content-center container login">
        <p>Password changed succesfully!</p>
        <h3>Your password has changed, next time you log in use your new password</h3>
    </div>

{% endblock content %}