{% extends 'base.html' %}

{% block title %} Change password{% endblock title %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="">Account</a></li>
            <li class="breadcrumb-item active" aria-current="page">Change Password</li>
        </ol>
    </nav>
    <div class="h-100 w-100 d-flex align-items-center justify-content-center login">
        <p>Set a new password</p>
        <form method="POST" class="login-fields">
            {% csrf_token %}
            <div class=" input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-key"></i></span>
                {{ form.old_password }}
            </div>
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-lock"></i></span>
                {{ form.new_password1 }}
            </div>
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-lock"></i></span>
                {{ form.new_password2 }}
            </div>
            <div class="login">
                <input type="submit" value="Update" class="btn btn-primary login-button">
            </div>
        </form>
    </div>
</div>

{% endblock content %}