{% extends 'base.html' %}

{% block title %} Password reset{% endblock title %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="">Account</a></li>
            <li class="breadcrumb-item active" aria-current="page">Reset password</li>
        </ol>
    </nav>
    <div class="h-100 w-100 d-flex align-items-center justify-content-center signup">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Random-house2.jpg/245px-Random-house2.jpg"
            alt="">
        <div class="signup-form">
            <p>Please enter the Email address associated with your account</p>
            <form method="POST" class="signup-fields">
                {% csrf_token %}
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fa-regular fa-envelope"></i></span>
                    <input name="email" type="text" class="form-control" placeholder="Email" aria-label="Username"
                        aria-describedby="addon-wrapping">
                </div>
                <input type="Submit" value="Send Email" name="send Email" class="btn btn-primary signup-form-button">
            </form>
        </div>
    </div>
    {% endblock content %}