{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
  </nav>

  <div class="container h-100 w-100 about">
    <div class="contact">
      <div class="contact-phone">
        <i class="fa-solid fa-phone"></i>
        <p>Give us a call!</p>
        <p>111-222-333</p>
      </div>
      <div class="contact-mail">
        <i class="fa-solid fa-envelope"></i>
        <p>Send us an email!</p>
        <p>courses@mail.com</p>
      </div>
    </div>

    <div class="map">
      <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13428.662314308696!2d-117.1549581!3d32.7082276!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb1759c2aecbcc473!2sSan%20Diego%20Global%20Knowledge%20University!5e0!3m2!1ses-419!2smx!4v1660408616013!5m2!1ses-419!2smx" width="400" height="250" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
  </div>

{% endblock content %}