{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="banner">
  <div class="welcome-text">
    {% if request.user.is_authenticated %}
    <p class="banner-welcome">Welcome, {{request.user.username}}</p>
    {% else %}
    <p class="banner-welcome">Welcome!</p>
    {% endif %}
    <p class="banner-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Necessitatibus eum velit ratione assumenda, ipsum non?
    </p>
  </div>
  {% if request.user.is_authenticated %}
  <a class="banner-button" href="{% url 'logout' %}">Log Out</a>
  {% else %}
  <a class="banner-button" href="{% url 'login' %}">Log In</a>
  {% endif %}
</div>

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Distyce</a>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'courses_catalog' %}">Courses</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          {% if request.user.is_authenticated %}
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'password' %}"><i class="fa-solid fa-user"></i>
                &nbsp;Password</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fa-solid fa-user-slash"></i></i> &nbsp;Log
                Out</a></li>
          </ul>
          {% else %}
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'login' %}"><i class="fa-solid fa-user-check"></i></i>
                &nbsp;Log In</a></li>
            <li><a class="dropdown-item" href="{% url 'signup' %}"><i class="fa-solid fa-user-plus"></i> &nbsp;Sign
                Up</a></li>
          </ul>
          {% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="intro">
  <img src="https://www.andorratelecom.ad/documents/33347/2720756/image-default-2.gif" alt="" />
  <div class="intro-text">
    <p class="intro-text-introduction">Lorem ipsum dolor sit amet.</p>
    <p class="intro-text-description">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis
      in, neque maiores cum quidem dolorum fuga ad sit delectus eos magni
      obcaecati facere, officiis iste tempore explicabo voluptatum expedita?
      Doloremque!
    </p>

    <div class="intro-buttons">
      <a class="intro-courses" href="{% url 'courses_catalog' %}">Courses</a>
      <a href="{% url 'courses_catalog' %}">
        Top Courses <i class="fa-solid fa-sm fa-chevron-right"> </i></a>
    </div>
  </div>
</div>

{% endblock content %}