@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css');

:root {
  --lightblue: #4db4d7;
  --blue: #0076be;
  --green: #48bf91;
  --lightgreen: #8bd9c7;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

.footer {
  flex: 0 0 50px;
  /*or just height:50px;*/
  margin-top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--blue);
  text-align: center;
  padding: 10px 0;
}

.breadcrumb {
  font-size: 1.2rem;
  margin: 1rem;
}

.breadcrumb-item a {
  text-decoration: none;
  font-weight: 700;
  color: black;
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25vh;
  background-color: var(--lightblue);
  color: black;
}

.banner .welcome-text {
  width: 50%;
}

.welcome-text .banner-welcome {
  font-size: 3rem;
  font-weight: 700;
}

.welcome-text .banner-text {
  text-align: justify;
  text-align-last: left;
}

.banner .banner-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
  border: none;
  width: 10em;
  height: 2.5em;
}

@media (min-width: 960px) {
  .banner .banner-welcome {
    font-size: 4rem;
  }

  .banner .welcome-text {
    font-size: 1.4rem;
  }

  .banner .banner-button {
    font-size: 1.3rem;
  }
}

.navbar {
  background-color: var(--blue);
  color: white;
}

.navbar-brand,
.navbar-brand:hover {
  color: white;
}

.navbar button {
  border: 1px solid white;
  color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255, 255, 255);
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

.nav-link:active {
  color: white;
}

.dropdown-menu a {
  color: var(--blue);
}

@media (min-width: 960px) {
  .navbar {
    width: 100%;
  }

  .navbar-brand {
    display: none;
  }

  .navbar-nav>li {
    text-align: center;
    margin-left: 7rem;
    margin-right: 7rem;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .dropdown-item {
    font-size: 1.2rem;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.intro img {
  max-width: 100%;
  margin-bottom: 1.5rem;
}

.intro-text {
  width: 75%;
  text-align: justify;
  text-align-last: center;
}

.intro-text-introduction {
  font-size: 2rem;
  font-weight: 700;
}

.intro-text-description {
  font-size: 1.2rem;
}

.intro-buttons button {
  background-color: var(--green);
  color: white;
  border: none;
  width: 10em;
  height: 2.5em;
}

.intro-buttons a {
  text-decoration: none;
  color: black;
  margin: 0 1em;
  font-weight: 700;
}

.intro-buttons a:hover {
  text-decoration: underline;
}

@media (min-width: 960px) {
  .intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 3em auto;
  }

  .intro img {
    max-width: 45%;
  }

  .intro-text {
    max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .intro-text-description {
    text-align-last: left;
  }

  .intro-buttons {
    margin-top: 2em;
  }

  .intro-buttons button {
    font-size: 1.2rem;
  }

  .intro-buttons a {
    font-size: 1.2rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact div {
  margin: 2em;
  font-size: 1.2rem;
  text-align: center;
}

.contact div i {
  padding: 1.5em;
  margin: 1em;
  background-color: var(--blue);
  border-radius: 100%;
  color: white;
}

.contact div p {
  color: var(--blue);
}

.contact div p:last-child {
  font-weight: 700;
}

.map {
  width: 100%;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
  width: 100%;
}

@media (min-width: 960px) {
  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .contact div i {
    font-size: 1.5rem;
  }

  .contact div p {
    font-size: 1.5rem;
  }

  .map {
    width: 50%;
    margin: 3em;
  }

  .map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
  }

  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-fields {
  width: 75%;
}

.login p {
  font-size: 2rem;
  color: var(--blue);
  font-weight: 700;
}

.input-group {
  margin: 1em;
  height: 3em;
}

.login-button {
  background-color: var(--green);
  color: white;
  border: none;
  width: 8em;
  height: 3em;
  margin: 1em;
}

@media (min-width: 960px) {
  .login-fields {
    width: 50%;
  }

  .login p {
    font-size: 3rem;
  }

  .login-button {
    font-size: 1.2rem;
  }
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.signup img {
  display: none;
}

.signup-form p {
  font-size: 2rem;
  color: var(--green);
  font-weight: 700;
}

.signup-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.signup-fields .input-group {
  margin: 1em;
  height: 3em;
}

.signup-form-button {
  background-color: var(--blue);
  color: white;
  border: none;
  width: 8em;
  height: 3em;
  margin: 1.5em;
}

@media (min-width: 960px) {
  .signup {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signup img {
    display: inline;
    max-height: 35em;
    margin: 0 5em;
  }

  .signup p {
    font-size: 2.5rem;
  }

  .signup-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 35%;
  }

  .signup-fields {
    width: 100%;
    margin-bottom: 1em;
  }

  .signup-fields .input-group {
    height: 3.5em;
  }

  .signup-form-button {
    margin: auto;
    font-size: 1.2rem;
  }
}