{% extends 'base.html' %}

{% block title %}Create Course{% endblock title %}

{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'courses_catalog' %}">Courses</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
</ol>
    {% if user.is_superuser %}
        <div class="h-100 w-100 d-flex align-items-center justify-content-center container course-form">
            <div>
                <p class="title-form">Edit a Course</p>
            </div>
                <form method="POST" enctype="multipart/form-data">
                    <div class="body-form">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                        <button class="form-submit">Save</button>
                </form>
            </div>
        </div>

    {% else %}
        <div class="h-100 w-100 d-flex align-items-center justify-content-center container course-form">
            <div>
                <p class="title-form" style="color:red">Sorry! You aren't supposed to be here!</p>
            </div>
        </div>
    {% endif %}
{% endblock content %}